
button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
label[type="button"] {
  border: none;
  border-radius: 5px;
  background-color: $clr-bttn-active-bg;
  font-size: 1rem;
  color: $clr-bttn-active-txt;
  padding: 0.7rem 0.9rem;
  margin: 0.5rem 0;
}

button[disabled],
[role="button"][aria-disabled="true"],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled],
select[disabled] {
  cursor: not-allowed;
}

input:disabled,
textarea:disabled,
select:disabled,
button[disabled] {
  cursor: not-allowed;
  background-color: $clr-bttn-disabled-bg;
  color: $clr-bttn-disbaled-txt;
}

input[type="range"] {
  padding: 0;
}

/* Set the cursor to '?' on an abbreviation and style the abbreviation to show that there is more information underneath */
abbr[title] {
    cursor: help;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
  
  button:enabled:hover,
  [role="button"]:not([aria-disabled="true"]):hover,
  input[type="submit"]:enabled:hover,
  input[type="reset"]:enabled:hover,
  input[type="button"]:enabled:hover,
  label[type="button"]:hover {
    filter: brightness(1.4);
    cursor: pointer;
}

button:focus-visible:where(:enabled, [role="button"]:not([aria-disabled="true"])),
input:enabled:focus-visible:where(
  [type="submit"],
  [type="reset"],
  [type="button"]
) {
  outline: 2px solid $clr-primary-400;
  outline-offset: 1px;
}