body{
    font-size: $step-0;
    line-height: 1.5;
    font-family: $ff;
}

header{
    a,a[visited]{
        text-decoration: none;;
    }
}

/* Format headers */
h1 {
    font-size: $step-4;
    padding-bottom: 1rem;
    line-height: 1.1;
}
  
  h2 {
    font-size: $step-4;
    padding-bottom: 1rem;
    line-height: 1.1;
}
  
  h3 {
    font-size: $step-3;
    padding-bottom: 1rem;
    line-height: 1.1;
}
  
h4 {
    font-size: $step-2;
    padding-bottom: 1rem;
    line-height: 1.1;
}

p{
    padding-bottom: 1rem;
}

/* Prevent long strings from overflowing container */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Format links & buttons */
a,
a:visited {
  color: $clr-link;
}

a:hover {
  text-decoration: none;
}

article, section{
    padding-bottom: 1rem;
}

details {
    padding: 0.7rem 1rem;
  }
  
  summary {
    cursor: pointer;
    font-weight: bold;
    padding: 0.7rem 1rem;
    margin: -0.7rem -1rem;
    word-break: break-all;
  }
  
  details[open] > summary + * {
    margin-top: 0;
  }
  
  details[open] > summary {
    margin-bottom: 0.5rem;
  }
  
  details[open] > :last-child {
    margin-bottom: 0;
}

/* Format tables */
table {
    border-collapse: collapse;
    display: block;
    margin: 1.5rem 0;
    overflow: auto;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid $clr-tbl-border;
    text-align: left;
    padding: 0.5rem;
  }
  
  th {
    background-color: $clr-tbl-bg;
    font-weight: bold;
  }
  
  
  table caption {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Misc body elements */
hr {
    border: none;
    height: 1px;
    background: $clr-hr;
    margin: 1rem auto;
}
  
  mark {
    padding: 2px 5px;
    border-radius: 4px;
    background-color: var(--marked);
}

  /* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
    padding-bottom: 1rem;
    border-radius: 5px;
    text-align: center;
}

figcaption {
    font-size: 0.9rem;
    color: $clr-figcaption;
    padding-bottom: 1rem;
}

blockquote {
    margin: 2rem 0 2rem 2rem;
    padding: 0.4rem 0.8rem;
    border-left: 0.35rem solid $clr-blckQ-border;
    color: $clr-blckQ-txt;
    font-style: italic;
}
  
cite {
    font-size: 0.9rem;
    color: $clr-cite;
    font-style: normal;
}
  
dt {
    color: $clr-dt;
}

/* Use mono font for code elements */
code,
pre,
pre span,
kbd,
samp {
  font-family: $ff-mono;
  color: $clr-code;
}

kbd {
  color: $clr-preformatted;
  border: 1px solid $clr-preformatted;
  border-bottom: 3px solid $clr-preformatted;
  border-radius: 5px;
  padding: 0.1rem 0.4rem;
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
  color: $clr-preformatted;
}

/* Fix embedded code within pre */
pre code {
    color: $clr-preformatted;
    background: none;
    margin: 0;
    padding: 0;
}
  
/* Progress bars */
/* Declarations are repeated because you */
/* cannot combine vendor-specific selectors */
progress {
    width: 100%;
}
  
progress:indeterminate {
    background-color: $clr-progress-indeterminate;
}

progress::-webkit-progress-bar {
    border-radius: 5px;
    background-color: $clr-progress-bar;
}
  
progress::-webkit-progress-value {
    border-radius: 5px;
    background-color: $clr-progress-value;
}
  
progress::-moz-progress-bar {
    border-radius: 5px;
    background-color: $clr-progress-bar-moz;
    transition-property: width;
    transition-duration: 0.3s;
}
  
progress:indeterminate::-moz-progress-bar {
    background-color: $clr-progress-indeterminate-moz;
}